.lead__image {
    max-width: 100%;
    object-fit: fill;
    min-height: 615px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {

    .lead__image {
        min-height: 580px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .lead__image {
        min-height: 480px;
    }
}

@media screen and (max-width: 768px) {

    .lead__image {
        min-height: 200px;
    }
}