@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 47% calc(53% - 40px);   
    grid-gap: 48px 40px;
    
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {

    .place {
        grid-template-columns: 47% calc(53% - 32px); 
        grid-gap: 48px 32px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .place {
        grid-template-columns: 47% calc(53% - 28px); 
        grid-gap: 48px 28px;
    }
}

@media screen and (max-width: 768px) {

    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-row-gap: 32px;
    }
}