@import url(./__link/place__website__link.css);
@import url(./__url-heading/place__website__url-heading.css);

.place__website {
    align-self: end;
}

@media screen and (max-width: 768px) {

    .place__website {
        visibility: hidden;
        grid-row: 4;
        height: 0;
    }
}